
#game_frame {
  display: block;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}

#uiControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

:root {
      --color-gray: hsl(0, 0%, 55%);
      --controls-size: 10vh;
	  --custom-controls-size: 8vh;
	  --custom-controls-font-size: 6vh;
    }

    @media (orientation: landscape) {
      :root {
        --controls-size: 20vh;
	  --custom-controls-size: 16vh;
	  --custom-controls-font-size: 10vh;
      }
    }

    html {
      touch-action: none;
    }

    .unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }

    #status {
      font-size: 1.5rem;
      color: var(--color-gray);
      text-align: center;
    }

    #game_container {
      width: 640px;
	    height: 480px;
	    background-color: white;
    }

    #controls {
      position: relative;
      text-align: right;
      z-index: 10;
      height: 0px;
	  float: right;
    }

    #controls button {
      -webkit-appearance: button;
      display: inline-flex;
      background: transparent;
      border: 0;
      font-family: inherit;
      font-size: 1em;
      line-height: inherit;
      cursor: pointer;
      padding-right: 1px;
    }

    #controls svg {
      pointer-events: none;
    }

    #canvas {
      display: block;
      top: 0;
      margin: 0;
	  padding: 0;
	  width: 100%;
      height: 100%;
      border: 0;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
      outline: none;
    }

    #dpad,
    #apad {
      position: fixed;
      bottom: 1rem;
    }

	#npad {
		position: fixed;
		top: 1.0rem;
	}

	#npad *{
		margin: 0;
		padding: 0;
		text-align: center;
		vertical-align: center;
	}

    #dpad {
      left: 1rem;
    }

    #apad {
      right: 1rem;
    }

    #dpad svg {
      width: calc(2 * var(--controls-size));
      height: calc(2 * var(--controls-size));
      fill: var(--color-gray);
    }

    #dpad svg rect {
      opacity: 0.4;
    }

    #apad > * {
      width: var(--controls-size);
      height: var(--controls-size);
      background-color: var(--color-gray);
      border-radius: 50%;
    }

    #apad > :last-child {
      position: relative;
      right: var(--controls-size);
    }

	#npad > * {
      width: var(--custom-controls-size);
      height: var(--custom-controls-size);
      background-color: var(--color-gray);
      border-radius: 50%;
	    display: inline-block;
	    font-size: var(--custom-controls-font-size);
	    text-align: center;
  }

    #dpad path:not(.active),
	#npad > *:not(.active),
    #apad > *:not(.active) {
      opacity: 0.4;
    }

    @media (hover: hover) and (pointer: fine) {
      #apad,
      #dpad,
	  #npad 
	  {
        display: none;
	  }
    }

#chatboxContainer {
}
