
:root {
	
	--base-bg-color: rgb(16,16,16);
	--text-area-bg-color: rgb(8,8,8);
	--base-text-color: white;
	--element-bg-color: rgb(24,24,24);
	--selected-bg-color: rgb(32,32,32);
	--border-color: rgb(24,24,24);
	--input-border-color: rgb(16,16,16);
	--link-color: rgb(255,255,150);
	--active-bg-color: rgb(8,8,8);
	--global-chat-display: block;
	--text-colot: white;
	/*
	--base-bg-color: rgb(255,255,255);
	--text-area-bg-color: rgb(240,240,240);
	--base-text-color: rgb(8,8,8);
	--element-bg-color: rgb(245,245,245);
	--selected-bg-color: rgb(240,240,240);
	--border-color: rgb(245,245,245);
	--input-border-color: rgb(250,250,250);
	--link-color: rgb(25,128,128);
	--active-bg-color: rgb(255,255,255);
	--global-chat-display: block;
	--text-colot: white;
	*/
}

html{
	font-family: 'MS PGothic', 'PGothic';
	font-size: 16px;
	color: var(--base-text-color);
	background-color: var(--base-bg-color);
}

#controls button path {
	stroke: rgba(216, 216, 216, 1) !important; /*base*/
}

#layout {
	width: 960px;
	margin: auto;
	display: flex;
}

a {
  color: var(--link-color);
}

#game_container {
	height: 480x;
	display: inline;
}

#main_container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 32px;
	margin-bottom: 0px;
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	overflow: hidden;
	border-color: rgb(24, 24, 24);
	border-style: dashed;
	border-width: 0px;
}

#mobileControlsMenu {
	display: none;
	position: fixed;
	background-color: #101010;
	width: 90%;
	left: 5%;
	height: 100%;
	top: 0;
	overflow-y: scroll;
}

.mobileControlsOption {
	background-color: #303030;
	display: block;
	color: white;
	margin: 16px;
	padding: 32px;
	text-align: center;
	font-size: 32px;
}